.labelBtn {
  color: aliceblue;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: 0.7s ease;
}
.labelBtn:hover {
  transform: scale(1.05);
}

.banner {
  height: 500px;
  width: 400px;
  position: relative;
}

.banner .lightstick-container {
  width: 180px;
  height: 420px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
}
.banner .lightstick-container .lightstick {
  background: url(../assets/mave_lightstick.png);
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  animation: glowLightstick 2s ease infinite;
}
.banner .lightstick-container:hover {
  transform: translateX(-50%) translateY(-5%);
}

@keyframes glowLightstick {
  0% {
  }
  50% {
    filter: drop-shadow(0px 0px 25px #f8a8c5);
  }
  100% {
  }
}

.banner .platform-circle {
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
}
.banner .platform-circle img {
  position: absolute;
  transition: 0.7s;
  height: 150px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
.banner:has(.lightstick-container:hover) .platform-circle img {
  transform: translateX(-50%) translateY(50px);
}
/*************************************/
/************PHOTOCARDS***************/
/*************************************/
.banner .photoCard-container {
  width: 300px;
  height: 420px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
}
.banner .photoCard-container .photoCard {
  width: 100%;
  height: 100%;
}
.banner .photoCard-container:hover {
  transform: translateX(-50%) translateY(-20%);
}
.banner:has(.photoCard-container:hover) .platform-circle img {
  transform: translateX(-50%) translateY(50px);
}
@keyframes flipPhotoCard {
  0% {
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
  }
}
.card-container {
  width: 300px;
  height: 420px;
  border-radius: 10px;
}
.photo-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 1px solid aliceblue;
  box-shadow: 0px 0px 10px aliceblue;
  animation: flipPhotoCard 2s ease-in-out;
}
.photo-card:hover {
  transform: rotateY(180deg);
}
.photo-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.photo-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
/*************************************/
/****************ALBUM****************/
/*************************************/
.banner .disc-container {
  width: 370px;
  height: 370px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
}
.banner .disc-container .disc {
  background: url(../assets/album.jpg), url(../assets/disc_concept.png);
  background-size: contain;
  width: 370px;
  aspect-ratio: 1/1;
  background-blend-mode: multiply;
  mask-image: url(../assets/disc_concept.png);
  animation: rotateDisc 2s ease;
}
.banner .disc-container:hover {
  transform: translateX(-50%) translateY(-20%);
}

.banner .disc-container:hover .disc {
  animation: rotateDisc 2s linear infinite;
}
@keyframes rotateDisc {
  0% {
    /* transform: rotate(0deg); */
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner:has(.disc-container:hover) .platform-circle img {
  transform: translateX(-50%) translateY(50px);
}
/*************************************/
/************LAST CAROUSEL************/
/*************************************/

.lastCarousel {
  position: relative;
  height: 500px;
  padding: 50px;
  overflow: hidden;
  color: aliceblue;
}
.lastCarousel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/last_carouselBG.jpg);
  background-size: cover;
  background-position: 50% 70%;
  filter: blur(5px);
  z-index: -1;
}

/****RESPONSIVE*******/
@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .banner {
    height: 320px;
    width: 315px;
  }
  .banner .lightstick-container {
    width: 105px;
    height: 250px;
    top: 35px;
  }
  .banner .platform-circle img {
    height: 100px;
    width: 250px;
    top: 260px;
    z-index: 0;
  }
  .banner .photoCard-container {
    width: 150px;
    height: 250px;
    top: 35px;
  }
  .card-container {
    width: 150px;
    height: 250px;
  }
  .banner .disc-container {
    width: 200px;
    height: 200px;
    bottom: 40px;
  }
  .banner .disc-container .disc {
    background: url(../assets/album.jpg), url(../assets/disc_concept_small.png);
    background-size: contain;
    width: 200px;
    aspect-ratio: 1/1;
    mask-image: url(../assets/disc_concept_small.png);
  }
}
