*{
  font-family: "Istok Web", sans-serif;
}

html{
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}
section{
  scroll-snap-align: start;
}
 #heroSection{
  background: linear-gradient(to top, #D891EF,#660066);
 }

 #productSect{
  background: linear-gradient(to top, #1E1E1E,#454545);
 }